{% extends 'base.html.twig' %}

{% block title %}Index{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
    <h1>All articles from article s table : </h1>
    {% for article in articles %}
        <div>
            <h2>{{ loop.index }} / {{ article.title }} - Category : {{ article.category.name }}</h2>
            <p>{{ article.content }}</p>
        </div>
    {% endfor %}
    <a href="{{ path('category') }}">
        Go to category.
    </a>
{% endblock %}